*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #cbc9e2;
    background-color: #3d155f;
    font-family: 'Poppins', sans-serif;
}

header, main{
    width: 85vw;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.logo{
    font-family: 'Sacramento', cursive;
    font-size: 2.5em;
    color: #cbc9e2;
}

a{
    text-decoration: none;
}

.welcome{
    min-height: calc(100vh - 73px);
    margin-top: 0.7em;
}

.section-head{
    color: #cbc9e2;
    font-weight: bold;
    position: relative;
    font-size: 16px;
    padding-left: 68px;
    line-height: 1.4;
}

.section-head:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 52px;
    height: 2px;
    background: #cbc9e2;
}

.intro{
    font-size: 32px;
    margin: 1em 0;
    width: 8em;
}

span{
    color: #badd76;

}

.pitch{
    font-size: 18px;
    margin-bottom: 2em;
    width: 90%;
}

.flex{
    display: flex;
    align-items: center;
}

.anchor:nth-child(2){
    margin-left: 40px;
}

.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.icon-github{
    background-image: url(./assets/github.svg);
}

.icon-email{
    background-image: url(./assets/email.svg);
}

.anchor:hover{
    color: #badd76;
}

.flex p{
    color: #cbc9e2;
    margin-left: 15px;
    font-size: 20px;
}

.icon-github:hover, .icon-email:hover, .flex p:hover{
    filter: brightness(0) saturate(100%) invert(94%) sepia(3%) saturate(5493%) hue-rotate(27deg) brightness(89%) contrast(95%);
}


.projects{
    margin: 3.7em 0;
}

.projects h2{
    font-size: 18px;
    margin: 32px 0;
}

.card-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;;
}

.card{
    border: 3px solid #badd76;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
}

.about{
    margin: 10px 0;
}
.card div{
    margin-bottom: 10px;
}

.link-cont a:nth-child(2){
    margin-left: 40px;
}

.card a{
    color: #cbc9e2;
}

.card a:hover{
    color: #badd76;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .welcome{
        margin-top: 3em;
    }
    
    .intro{
        font-size: 50px;
        margin: 0.5em 0;
    }
    
    .pitch{
        font-size: 24px;
        width: 80%;
        line-height: 1.8;
    }
    
    .flex p{
        font-size: 25px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section-head{
        font-size: 24px;
        line-height: 1.4;
    }
    
    .section-head:before {
        top: 17px;
    }
    
    .intro{
        font-size: 60px;
        width: 100%;
    }
    
    .pitch{
        font-size: 30px;
        width: 70%;
    }

    .anchor:nth-child(2){
        margin-left: 90px;
    }
    
    .icon{
        width: 40px;
        height: 40px;
    }
    
    .flex p{
        font-size: 30px;
        margin-left: 20px;
    }
}